:root {
  --pallette-theme-standout-main: #0011bb;
  --pallette-theme-standout-secondary: #6600cc;
  --pallette-lightist-tone: #ededed;
  --pallette-darkier-tone: #777777;
  --pallette-darker-tone: #444444;
  --pallette-darkest-tone: #000000;
}

body {
  font-family: sans-serif;
}

header {
  background-color: var(--pallette-lightist-tone);
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

header .logo img {
  width: 25%;
}

header .title {
  color: var(---pallette-darkier-tone);
  font-size: 2rem;
  font-weight: bold;
  width: 60%;
}

h1 {
  text-align: center;
}

a {
  color: var(--pallette-theme-standout-secondary);
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
}

.entry {
  padding: 1rem;
}

.entry.title {
  background-color: var(--pallette-darkier-tone);
  color: var(--pallette-lightist-tone);
  font-weight: bold;
  width: 10%;
}

.entry.value {
  width: 50%;
  background-color: var(--pallette-lightist-tone)x;
}

.earthquake-list {
  border-collapse:collapse;
}

.earthquake-list tr th {
  background-color: var(--pallette-theme-standout-secondary);
  color: var(--pallette-lightist-tone);
  padding: 1rem;
  text-align: center;
}

.earthquake-list tr td {
  padding: 0.5rem;
  text-align: center;
}


