:root {
  --pallette-theme-standout-main: #0011bb;
  --pallette-theme-standout-secondary: #6600cc;
  --pallette-lightist-tone: #ededed;
  --pallette-darkier-tone: #777777;
  --pallette-darker-tone: #444444;
  --pallette-darkest-tone: #000000;
}

body {
  font-family: sans-serif;
  margin: 0;
}

header {
  align-items: center;
  background-color: var(--pallette-lightist-tone);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

header .logo img {
  width: 100px;
}

header .title {
  color: var(---pallette-darkier-tone);
  font-size: 2rem;
  font-weight: bold;
}

h1 {
  text-align: center;
}

a {
  color: var(--pallette-theme-standout-secondary);
  font-weight: bold;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 45rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 0
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2
}

.entry {
  padding: 1rem;
}

.entry.title {
  background-color: var(--pallette-theme-standout-secondary);
  color: var(--pallette-lightist-tone);
  font-weight: bold;
  width: 100px;
}

.entry.value {
  width: 50%;
  background-color: var(--pallette-lightist-tone)x;
}

.avatar {
  width: 10rem;
}

.earthquake-list {
  border-collapse: collapse;
}

.earthquake-list tr th {
  background-color: var(--pallette-theme-standout-secondary);
  color: var(--pallette-lightist-tone);
  cursor: pointer;
  height: 1.5rem;
  min-width: 8rem;
  padding: 1rem;
  text-align: center;
}

.earthquake-list tr th:after {
  font-size: 0.6rem;
  padding-right: 0.5rem;
}

.earthquake-list .asc:after {
  content: ' \25B2';
}

.earthquake-list .desc:after {
  content: ' \25BC';
}

.earthquake-list tr td {
  padding: 0.5rem;
  text-align: center;
}

.earthquake-list .primary {
  text-align: left;
}